:root {
    /* --- 1. КОЛЬОРИ (COLORS) --- */
    --color-accent: #3350e9;
    --color-dark: #0c0c0c;
    --color-card-bg: #f3f3f3;
    --color-light: #fbfbfb;
    --color-btn-hover: #1b3dfe;

    /* Текст та елементи на світлому фоні */
    --text-main-dark: rgba(12, 12, 12, 0.7);
    --text-price-dark: rgba(12, 12, 12, 0.5);
    --text-secondary-dark: rgba(12, 12, 12, 0.4);


    /* Текст та елементи на темному фоні */
    --text-secondary-light: rgba(251, 251, 251, 0.7);
    --text-muted-light: rgba(251, 251, 251, 0.5);
    --border-light: 1px solid rgba(251, 251, 251, 0.2);
    --border-header: 1px solid rgba(12, 12, 12, 0.1);
    --border-form: 1px solid rgba(12, 12, 12, 0.15);
    --border-card: 1px solid rgba(12, 12, 12, 0.05);
    --bg-price-tag: rgba(251, 251, 251, 0.1);

    /* --- 2. ШРИФТИ: ТИП ТА ВАГА (FONTS & WEIGHTS) --- */
    --primary-font: 'Gilroy', sans-serif;
    --fw-semibold: 600;
    --fw-medium: 500;
    --fw-regular: 400;

    /* --- 3. РОЗМІРИ ШРИФТІВ: МОБІЛЬНІ (FONT SIZES - MOBILE) --- */
    --fs-hero: 40px;
    --fs-h2: 32px;
    --fs-title-card: 24px;
    --fs-form-text: 20px;
    --fs-logo: 16px;
    --fs-h3card: 16px;
    --fs-review-name: 16px;
    --fs-main: 14px;
    --fs-scrool: 14px;
    --fs-card-code: 14px;
    --fs-review-text: 14px;
    --fs-old-price: 12px;
    --fs-card-feauters: 12px;
    --fs-footer-copyright: 10px;

    /* --- 4. МІЖРЯДКОВИЙ ІНТЕРВАЛ (LINE HEIGHTS) --- */
    --lh-footer-copyright: 1.4;
    --lh-card-feauters: 1.33;
    --lh-heading: 1.29;
    --lh-scrool: 1.29;
    --lh-card-code: 1.29;
    --lh-text: 1.29;
    --lh-h3card: 1.25;
    --lh-review-name: 1.25;
    --lh-footer-text: 1.2;
    --lh-logo: 1.17;
    --lh-title-card: 1.13;
    --lh-h2: 1;
    --lh-hero: 0.95;

    /* --- 5. ДОДАТКОВО (SPACING & TRANSITIONS) --- */
    --ls-base: 0.02em;
    --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    --transition-slow: 750ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* --- ПЛАНШЕТ ТА ДЕКСТОП (768px+) --- */
@media screen and (min-width: 768px) {
    :root {
        --fs-hero: 70px;
        --fs-h2: 48px;
        --fs-title-card: 32px;
        --fs-form-text: 28px;
        --fs-logo: 20px;
        --fs-scrool: 20px;
        --fs-h3card: 20px;
        --fs-review-name: 18px;
        --fs-main: 16px;
        --fs-review-text: 16px;
        --fs-card-feauters: 14px;
        --fs-footer-copyright: 14px;
        --lh-footer-copyright: 1.29;
        --lh-card-feauters: 1.29;
        --lh-text: 1.25;
        --lh-heading: 1.25;
        --lh-footer-text: 1.14;
        --lh-title-card: 1.13;
        --lh-review-name: 1.1;
        --lh-scrool: 1;
        --lh-h3card: 1;
        --lh-h2: 0.92;
        --lh-hero: 0.86;
    }
}

@media screen and (min-width: 1280px) {
    :root {
        --fs-hero: 72px;
        --lh-hero: 0.88;
    }
}