.header {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;

    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: var(--border-header);

    background-color: var(--color-card-bg);
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-size: var(--fs-logo);
    transition: color var(--transition);
}

.logo:hover,
.logo:focus {
    color: var(--color-accent);
}

.header-nav {
    display: none;
}

.header-social-list {
    display: none;
}

@media (min-width: 768px) {
    .header {
        padding-top: 26px;
        padding-bottom: 26px;
    }

    .header-social-list {
        display: none;
    }
}


@media screen and (min-width: 1280px) {
    .header {
        padding-top: 20px;
        padding-bottom: 30px;
    }

    .nav {
        display: flex;
        font-size: var(--fs-card-code);
        line-height: var(--lh-card-code);
    }

    .nav-list {
        display: flex;
        flex-direction: row;
        gap: 40px;
        align-items: center;
    }

    .nav-link {
        position: relative;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .nav-link::after {
        content: '';

        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;

        display: block;

        width: 8px;
        height: 8px;
        margin-right: auto;
        margin-left: auto;
        border-radius: 50%;

        background-color: transparent;

        transition: background-color var(--transition),
            width var(--transition),
            height var(--transition);
    }

    .nav-link:hover::after,
    .nav-link:focus::after {
        background-color: var(--color-accent);
    }

    .header-social-list {
        display: flex;
        gap: 10px;
        align-items: center;
    }
}