/*------------------- Базовий клас для всіх кнопок -------------------*/
.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    padding: 16px 38px;
    border: none;
    border-radius: 16px;

    font-size: var(--fs-card-code);
    line-height: var(--lh-card-code);
    color: var(--color-light);

    opacity: 0.8;
    background-color: var(--color-accent);

    transition:
        background-color var(--transition),
        opacity var(--transition);
}

.button:hover,
.button:focus {
    opacity: 1;
    background-color: var(--color-btn-hover)
}

.button-more {
    margin: 0 auto;
    padding: 16px 44px;
}

@media screen and (min-width: 768px) {
    .button {
        padding: 16px 40px;
    }

    .button-more {
        display: none;
    }
}



/* ------------------- Кнопка бургер меню ------------------- */
.burger-menu {
    cursor: pointer;
    border: none;
    line-height: 0;
    background-color: transparent;
}


@media screen and (min-width: 1280px) {
    .burger-menu {
        display: none;
    }
}




/* ------------------- Кнопка закриття (Modal / Menu) ------------------- */
/* .button-close {
    position: absolute;

    width: 16px;
    height: 16px;
    border: none;

    background-color: transparent;
}

.button-close:hover {
    transform: rotate(90deg);
}

.mobile-menu-button-close {
    top: 16px;
    right: 16px;
} */




/* ------------------- Кнопка прокрутки -------------------*/
/* .button-scroll {
    position: fixed;
    z-index: 90;

    width: 48px;
    height: 48px;
    border: 2px solid var();
    border-radius: 50%;

    color: var();

    opacity: 0.6;
    background-color: var();
}

.button-scroll:hover,
.button-scroll:focus {
    transform: scale(1.1);
    opacity: 1;
}

.button-scroll-up {
    right: 20px;
    bottom: 80px;
}

.button-scroll-down {
    right: 20px;
    bottom: 20px;
} */