/* ---------------- Burger Menu icon ---------------- */
.burger-icon {
    width: 34px;
    height: 34px;
    stroke: var(--color-dark);
    transition: stroke var(--transition);
}

.burger-menu:hover .burger-icon,
.burger-menu:focus .burger-icon {
    stroke: var(--color-accent);
}

@media screen and (min-width: 768px) {
    .burger-icon {
        width: 40px;
        height: 40px;
    }
}


/* ---------------- Button Close icon ---------------- */
.button-close-icon {
    width: 34px;
    height: 34px;

    fill: none;
    stroke: var(--color-light);

    transition: stroke var(--transition)
}

.button-close:hover .button-close-icon,
.button-close:focus .button-close-icon {
    stroke: var(--color-accent);
}

@media screen and (min-width: 768px) {
    .button-close-icon {
        width: 40px;
        height: 40px;
    }
}

/* ---------------- Button Scroll icon ---------------- */
.button-scroll-icon {
    fill: var(--color-accent);
    transition: fill var(--transition), transform var(--transition);
}

.button-scroll-up .button-scroll-icon {
    transform: rotate(-90deg);
}

.button-scroll-down .button-scroll-icon {
    transform: rotate(90deg);
}

.button-scroll:hover .button-scroll-icon,
.button-scroll:focus .button-scroll-icon {
    fill: var(--color-btn-hover);
}


/* ---------------- Social icon ---------------- */

.social-item {
    border: var(--border-header);
    border-radius: 10px;
    transition: border-color var(--transition),
        opacity var(--transition);
}

.social-link {
    padding: 8px;
}

.social-icon {
    fill: var(--color-dark);
    transition: fill var(--transition)
}

.social-link:hover .social-icon,
.social-link:focus .social-icon {
    fill: var(--color-accent);
}

.social-item:hover,
.social-item:focus {
    border: 1px solid var(--color-accent);
    opacity: 0.8;
}