<section class="section about-section" id="about-section">
  <div class="container about-container">
    <div class="about-text-box">
      <h2 class="section-title about-title">About Us</h2>
      <p class="about-description about-description-first">
        Welcome to our premium watch collection, where luxury and style meet functionality and
        precision. Our selection of timepieces embodies the very best in Swiss craftsmanship and
        engineering, ensuring that you'll always have a reliable and stylish accessory on your
        wrist.
      </p>
      <p class="about-description about-description-second">
        At our premium watch collection, we believe that a watch is more than just a timekeeping
        device – it's a statement piece that reflects your personality and style. So why settle for
        anything less than the best?
      </p>
      <a class="button about-button" href="#catalog-section">View catalog</a>
    </div>
    <picture class="about-img-box">
      <source
        srcset="/src/img/about/about-d@1x.webp 1x, /src/img/about/about-d@2x.webp 2x"
        media="(min-width: 1280px)" />
      <source
        srcset="/src/img/about/about-t@1x.webp 1x, /src/img/about/about-t@2x.webp 2x"
        media="(min-width: 768px)" />
      <source
        srcset="/src/img/about/about-m@1x.webp 1x, /src/img/about/about-m@2x.webp 2x"
        media="(min-width: 320px)" />
      <img
        class="about-img"
        src="/src/img/about/about-d@1x.webp"
        alt="Foto Luxury Men's Watch"
        width="530"
        height="532" />
    </picture>
  </div>
</section>
