<!-- <section class="section catalog-section" id="catalog-section">
  <div class="container catalog-container">
    <h2 class="section-title catalog-title">Catalog</h2>
    <ul class="catalog-list">
      <li class="catalog-item">
        <article>
          <picture class="catalog-img-box">
            <img
              class="catalog-img"
              src="/src/img/catalog/catalog-d-1@1x.webp"
              alt="Foto Garmin Fenix 7X Pro Sapphire Solar"
              width="304"
              height="312" />
            <source
              srcset="
                /src/img/catalog/catalog-d-1@1x.webp 1x,
                /src/img/catalog/catalog-d-1@2x.webp 2x
              "
              media="(min-width: 1280px)" />
            <source
              srcset="
                /src/img/catalog/catalog-t-1@1x.webp 1x,
                /src/img/catalog/catalog-t-1@2x.webp 2x
              "
              media="(min-width: 768px)" />
            <source
              srcset="
                /src/img/catalog/catalog-m-1@1x.webp 1x,
                /src/img/catalog/catalog-m-1@2x.webp 2x
              "
              media="(min-width: 320px)" />
          </picture>
          <h3 class="subtitle-section catalog-subtitle">Garmin Fenix 7X Pro Sapphire Solar </h3>
          <p class="catalog-price">€500</p>
        </article>
      </li>
      <li class="catalog-item">
        <article>
          <picture class="catalog-img-box">
            <img
              class="catalog-img"
              src="/src/img/catalog/catalog-d-2@1x.webp"
              alt="Foto Garmin Marq Athlete"
              width="304"
              height="312" />
            <source
              srcset="
                /src/img/catalog/catalog-d-2@1x.webp 1x,
                /src/img/catalog/catalog-d-2@2x.webp 2x
              "
              media="(min-width: 1280px)" />
            <source
              srcset="
                /src/img/catalog/catalog-t-2@1x.webp 1x,
                /src/img/catalog/catalog-t-2@2x.webp 2x
              "
              media="(min-width: 768px)" />
            <source
              srcset="
                /src/img/catalog/catalog-m-2@1x.webp 1x,
                /src/img/catalog/catalog-m-2@2x.webp 2x
              "
              media="(min-width: 320px)" />
          </picture>
          <h3 class="subtitle-section catalog-subtitle">Garmin Marq Athlete</h3>
          <p class="catalog-price">€450</p>
        </article>
      </li>
      <li class="catalog-item">
        <article>
          <picture class="catalog-img-box">
            <img
              class="catalog-img"
              src="/src/img/catalog/catalog-d-3@1x.webp"
              alt="Foto Garmin Descent MK1 "
              width="304"
              height="312" />
            <source
              srcset="
                /src/img/catalog/catalog-d-3@1x.webp 1x,
                /src/img/catalog/catalog-d-3@2x.webp 2x
              "
              media="(min-width: 1280px)" />
            <source
              srcset="
                /src/img/catalog/catalog-t-3@1x.webp 1x,
                /src/img/catalog/catalog-t-3@2x.webp 2x
              "
              media="(min-width: 768px)" />
            <source
              srcset="
                /src/img/catalog/catalog-m-3@1x.webp 1x,
                /src/img/catalog/catalog-m-3@2x.webp 2x
              "
              media="(min-width: 320px)" />
          </picture>
          <h3 class="subtitle-section catalog-subtitle">Garmin Descent MK1 </h3>
          <p class="catalog-price">€680</p>
        </article>
      </li>
      <li class="catalog-item">
        <article>
          <picture class="catalog-img-box">
            <img
              class="catalog-img"
              src="/src/img/catalog/catalog-d-4@1x.webp"
              alt="Foto Garmin D2 Delta PX"
              width="304"
              height="312" />
            <source
              srcset="
                /src/img/catalog/catalog-d-4@1x.webp 1x,
                /src/img/catalog/catalog-d-4@2x.webp 2x
              "
              media="(min-width: 1280px)" />
            <source
              srcset="
                /src/img/catalog/catalog-t-4@1x.webp 1x,
                /src/img/catalog/catalog-t-4@2x.webp 2x
              "
              media="(min-width: 768px)" />
            <source
              srcset="
                /src/img/catalog/catalog-m-4@1x.webp 1x,
                /src/img/catalog/catalog-m-4@2x.webp 2x
              "
              media="(min-width: 320px)" />
          </picture>
          <h3 class="subtitle-section catalog-subtitle">Garmin D2 Delta PX</h3>
          <p class="catalog-price">€380</p>
        </article>
      </li>
      <li class="catalog-item">
        <article>
          <picture class="catalog-img-box">
            <img
              class="catalog-img"
              src="/src/img/catalog/catalog-d-5@1x.webp"
              alt="Foto Garmin Fenix 6 Pro Solar"
              width="304"
              height="312" />
            <source
              srcset="
                /src/img/catalog/catalog-d-5@1x.webp 1x,
                /src/img/catalog/catalog-d-5@2x.webp 2x
              "
              media="(min-width: 1280px)" />
            <source
              srcset="
                /src/img/catalog/catalog-t-5@1x.webp 1x,
                /src/img/catalog/catalog-t-5@2x.webp 2x
              "
              media="(min-width: 768px)" />
            <source
              srcset="
                /src/img/catalog/catalog-m-5@1x.webp 1x,
                /src/img/catalog/catalog-m-5@2x.webp 2x
              "
              media="(min-width: 320px)" />
          </picture>
          <h3 class="subtitle-section catalog-subtitle">Garmin Fenix 6 Pro Solar</h3>
          <p class="catalog-price">€400</p>
        </article>
      </li>
      <li class="catalog-item">
        <article>
          <picture class="catalog-img-box">
            <img
              class="catalog-img"
              src="/src/img/catalog/catalog-d-6@1x.webp"
              alt="Foto Tube Watch S42 Date Steel With Black Case"
              width="304"
              height="312" />
            <source
              srcset="
                /src/img/catalog/catalog-d-6@1x.webp 1x,
                /src/img/catalog/catalog-d-6@2x.webp 2x
              "
              media="(min-width: 1280px)" />
            <source
              srcset="
                /src/img/catalog/catalog-t-6@1x.webp 1x,
                /src/img/catalog/catalog-t-6@2x.webp 2x
              "
              media="(min-width: 768px)" />
            <source
              srcset="
                /src/img/catalog/catalog-m-6@1x.webp 1x,
                /src/img/catalog/catalog-m-6@2x.webp 2x
              "
              media="(min-width: 320px)" />
          </picture>
          <h3 class="subtitle-section catalog-subtitle"
            >Tube Watch S42 Date Steel With Black Case</h3
          >
          <p class="catalog-price">€395</p>
        </article>
      </li>
    </ul>
  </div>
</section> -->
