<section class="section contact-section">
  <div class="container contact-container">
    <h2 class="section-title contact-title">Contact Us</h2>
    <div class="contact-box">
      <div class="contact-form-box contact-card">
        <form class="contact-form">
          <p class="contact-description">
            Please use the form below to contact us. Enter your name, email, phone, and message and
            we'll get back to you shortly.
          </p>

          <div class="form-field">
            <input
              class="form-input"
              type="text"
              name="user-name"
              id="user-name"
              placeholder="Name"
              required />
            <label class="form-label" for="user-name">Name</label>
          </div>

          <div class="form-field">
            <input
              class="form-input"
              type="email"
              name="user-email"
              id="user-email"
              placeholder="Email"
              required />
            <label class="form-label" for="user-email">Email</label>
          </div>

          <div class="form-field">
            <input
              class="form-input"
              type="tel"
              name="user-tel"
              id="user-tel"
              placeholder="+380"
              required />
            <label class="form-label" for="user-tel">Phone</label>
          </div>

          <div class="form-field">
            <textarea
              class="form-input form-textarea"
              name="user-message"
              id="user-message"
              placeholder="Comment"
              required></textarea>
            <label class="form-label form-label-textarea" for="user-message">Comment</label>
          </div>

          <button class="button form-button" type="submit">Send</button>
        </form>
      </div>

      <article class="contact-img-box contact-card">
        <picture>
          <source
            srcset="/src/img/contact/contact-d@1x.webp 1x, /src/img/contact/contact-d@2x.webp 2x"
            media="(min-width: 1280px)" />
          <source
            srcset="/src/img/contact/contact-t@1x.webp 1x, /src/img/contact/contact-t@2x.webp 2x"
            media="(min-width: 768px)" />
          <source
            srcset="/src/img/contact/contact-m@1x.webp 1x, /src/img/contact/contact-m@2x.webp 2x"
            media="(min-width: 320px)" />
          <img
            class="contact-img"
            src="/src/img/contact/contact-d@1x.webp"
            alt="Luxury Men's Watch"
            width="530"
            height="556" />
        </picture>
      </article>
    </div>
  </div>
</section>
