<!-- <footer class="footer">
  <div class="container footer-container">
    <a href="/" class="logo">watchcharm</a>
    <ul class="social-list footer-social-list">
      <li class="social-item footer-social-item">
        <a class="social-link footer-social-link" href="https://www.facebook.com/">
          <svg class="social-icon footer-social-icon" width="20" height="20">
            <use href="/icons/sprite.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
      <li class="social-item footer-social-item">
        <a class="social-link footer-social-link" href="https://www.instagram.com/">
          <svg class="social-icon footer-social-icon" width="20" height="20">
            <use href="/icons/sprite.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li class="social-item footer-social-item">
        <a class="social-link footer-social-link" href="https://www.youtube.com/">
          <svg class="social-icon footer-social-icon" width="20" height="20">
            <use href="/icons/sprite.svg#icon-youtube"></use>
          </svg>
        </a>
      </li>
    </ul>
    <a class="contact-phone" href="tel:+xxxxxxxxxxxx">+xxx (xx) xxx-xx-xx</a>
    <p class=""
      >Have the time of your life with our watches: where high-class craftsmanship meets impeccable
      design</p
    >
    <nav class="nav">
      <ul class="nav-list">
        <li><a href="/">Home</a></li>
        <li><a href="#about-section">About Us</a></li>
        <li><a href="#catalog-section">Catalog</a></li>
        <li><a href="#sales-section">Sale</a></li>
        <li><a href="#reviews-section">Reviews</a></li>
        <li><a href="#contact-section">Contact Us</a></li>
      </ul>
    </nav>
    <address class="footer-address">1678 S. Pioneer Road Salt Lake City UT 84104</address>

    <p class="footer-copy"> ©2023 The Watch Spot. All rights reserved. </p>
    <ul class="footer-legal-list">
      <li class="footer-legal-item">
        <a href="#" class="footer-legal-link">Terms of Service</a>
      </li>
      <li class="footer-legal-item">
        <a href="#" class="footer-legal-link">Privacy Policy</a>
      </li>
    </ul>
  </div>
</footer> -->
