<header class="header">
  <div class="container header-container">
    <a href="/" class="logo header-logo">watchcharm</a>

    <nav class="nav header-nav">
      <ul class="nav-list header-nav-list">
        <li class="nav-item header-nav-item"
          ><a class="nav-link header-nav-link" href="/">Home</a></li
        >
        <li class="nav-item header-nav-item"
          ><a class="nav-link header-nav-link" href="#about-section">About Us</a></li
        >
        <li class="nav-item header-nav-item"
          ><a class="nav-link header-nav-link" href="#catalog-section">Catalog</a></li
        >
        <li class="nav-item header-nav-item"
          ><a class="nav-link header-nav-link" href="#sales-section">Sale</a></li
        >
        <li class="nav-item header-nav-item"
          ><a class="nav-link header-nav-link" href="#reviews-section">Reviews</a></li
        >
        <li class="nav-item header-nav-item"
          ><a class="nav-link header-nav-link" href="#contact-section">Contact Us</a></li
        >
      </ul>
    </nav>

    <ul class="social-list header-social-list">
      <li class="social-item header-social-item">
        <a class="social-link header-social-link" href="https://www.facebook.com/" target="_blank">
          <svg class="social-icon header-social-icon" width="20" height="20">
            <use href="/icons/sprite.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
      <li class="social-item header-social-item">
        <a class="social-link header-social-link" href="https://www.instagram.com/" target="_blank">
          <svg class="social-icon header-social-icon" width="20" height="20">
            <use href="/icons/sprite.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li class="social-item header-social-item">
        <a class="social-link header-social-link" href="https://www.youtube.com/" target="_blank">
          <svg class="social-icon header-social-icon" width="20" height="20">
            <use href="/icons/sprite.svg#icon-youtube"></use>
          </svg>
        </a>
      </li>
    </ul>

    <button
      class="burger-menu js-open-menu"
      type="button"
      aria-expanded="false"
      aria-controls="mobile-menu">
      <svg class="burger-icon" width="34" height="34">
        <use href="/icons/sprite.svg#icon-menu"></use>
      </svg>
    </button>
  </div>
</header>
