<section class="section hero-section" id="hero">
  <div class="container hero-container">
    <div class="hero-box">
      <div class="hero-text-box">
        <h1 class="hero-title"
          >Welcome to our <span class="hero-accent"> collection </span>of premium watches
        </h1>
        <p class="hero-description"
          >Our watches are not just timepieces, but also an expression of your personality and
          lifestyle. From classic designs to modern ones, we have a watch to suit every taste and
          occasion.</p
        >
      </div>
      <div class="hero-review-box">
        <picture class="hero-review-img-box">
          <source
            srcset="/src/img/hero/hero-r-d@1x.webp 1x, /src/img/hero/hero-r-d@2x.webp 2x"
            media="(min-width: 1280px)" />
          <source
            srcset="/src/img/hero/hero-r-t@1x.webp 1x, /src/img/hero/hero-r-t@2x.webp 2x"
            media="(min-width: 768px)" />
          <source
            srcset="/src/img/hero/hero-r-m@1x.webp 1x, /src/img/hero/hero-r-m@2x.webp 2x"
            media="(min-width: 320px)" />
          <img
            class="hero-review-img"
            src="/src/img/hero/hero-r-d@1x.webp"
            alt="Foto Our Happy Customers"
            width="146"
            height="60" />
        </picture>
        <a class="hero-scroll" href="#about-section">Scroll down</a>
      </div></div
    >
    <picture class="hero-watch-img-box">
      <source
        srcset="/src/img/hero/hero-w-d@1x.webp 1x, /src/img/hero/hero-w-d@2x.webp 2x"
        media="(min-width: 1280px)" />
      <source
        srcset="/src/img/hero/hero-w-t@1x.webp 1x, /src/img/hero/hero-w-t@2x.webp 2x"
        media="(min-width: 768px)" />
      <source
        srcset="/src/img/hero/hero-w-m@1x.webp 1x, /src/img/hero/hero-w-m@2x.webp 2x"
        media="(min-width: 320px)" />
      <img
        class="hero-watch-img"
        src="/src/img/hero/hero-w-d@1x.webp"
        alt="Foto Luxury Men's Watch"
        width="1150"
        height="500" />
    </picture>
  </div>
</section>
