<section class="section hero-section" id="hero">
  <div class="container hero-container">
    <h1 class="hero-title"
      >Welcome to our <span class="hero-accent"> collection </span>of premium watches
    </h1>
    <p class="hero-description"
      >Our watches are not just timepieces, but also an expression of your personality and
      lifestyle. From classic designs to modern ones, we have a watch to suit every taste and
      occasion.</p
    >
    <picture class="hero-team-img-box">
      <img
        class="hero-team-img"
        src="/src/img/hero/hero-r-d@1x.webp"
        alt="Foto Our Happy Customers"
        width="146"
        height="60" />
      <source
        srcset="/src/img/hero/hero-r-d@1x.webp 1x, /src/img/hero/hero-r-d@2x.webp 2x"
        media="(min-width: 1280px)" />
      <source
        srcset="/src/img/hero/hero-r-t@1x.webp 1x, /src/img/hero/hero-r-t@2x.webp 2x"
        media="(min-width: 768px)" />
      <source
        srcset="/src/img/hero/hero-r-m@1x.webp 1x, /src/img/hero/hero-r-m@2x.webp 2x"
        media="(min-width: 320px)" />
    </picture>
    <a href="#about-section" class="hero-scroll">Scroll down</a>
    <picture class="hero-watch-img-box">
      <img
        class="hero-watch-img"
        src="/src/img/hero/hero-w-d@1x.webp"
        alt="Foto Luxury Men's Watch"
        width="1150"
        height="500" />
      <source
        srcset="/src/img/hero/hero-w-d@1x.webp 1x, /src/img/hero/hero-w-d@2x.webp 2x"
        media="(min-width: 1280px)" />
      <source
        srcset="/src/img/hero/hero-w-t@1x.webp 1x, /src/img/hero/hero-w-t@2x.webp 2x"
        media="(min-width: 768px)" />
      <source
        srcset="/src/img/hero/hero-w-m@1x.webp 1x, /src/img/hero/hero-w-m@2x.webp 2x"
        media="(min-width: 320px)" />
    </picture>
  </div>
</section>
