<!-- <section class="section reviews-section">
  <div class="container reviews-container">
    <h2 class="section-title reviews-title">Reviews</h2>
    <ul class="reviews-list">
      <li class="reviews-item">
        <article class="reviews-card">
          <picture class="reviews-img-box">
            <source
              srcset="
                /src/img/reviews/review-john@1x.webp 1x,
                /src/img/reviews/review-john@2x.webp 2x
              "
              media="(min-width: 1280px)" />
            <img
              class="reviews-img"
              src="/src/img/reviews/review-john@1x.webp"
              alt="John Wax"
              width="56"
              height="56" />
          </picture>
          <p class="reviews-subtitle">John Wax</p>
          <p class="reviews-description">
            Buying a watch from was the best choice for me. The design is perfectly combined with
            high quality materials. The strap fits nicely on the hand, and the mechanism works
            flawlessly.
          </p>
        </article>
      </li>

      <li class="reviews-item">
        <article class="reviews-card">
          <picture class="reviews-img-box">
            <source
              srcset="
                /src/img/reviews/review-victoria@1x.webp 1x,
                /src/img/reviews/review-victoria@2x.webp 2x
              "
              media="(min-width: 1280px)" />
            <img
              class="reviews-img"
              src="/src/img/reviews/review-victoria@1x.webp"
              alt="Victoria Romashenko"
              width="56"
              height="56" />
          </picture>
          <p class="reviews-subtitle">Victoria Romashenko</p>
          <p class="reviews-description">
            Can't take my eyes off my watch from. Every time I put it on, it is admired by those
            around me. The build quality and attention to detail make it a real gem among my
            accessories.
          </p>
        </article>
      </li>

      <li class="reviews-item">
        <article class="reviews-card">
          <picture class="reviews-img-box">
            <source
              srcset="
                /src/img/reviews/review-anastasia@1x.webp 1x,
                /src/img/reviews/review-anastasia@2x.webp 2x
              "
              media="(min-width: 1280px)" />
            <img
              class="reviews-img"
              src="/src/img/reviews/review-anastasia@1x.webp"
              alt="Anastasia Trachuk"
              width="56"
              height="56" />
          </picture>
          <p class="reviews-subtitle">Anastasia Trachuk</p>
          <p class="reviews-description">
            My watch from is a real masterpiece. Every detail impresses with the high quality of
            execution. Special features like [specify features] make it an indispensable companion
            in my daily life.
          </p>
        </article>
      </li>
    </ul>
  </div>
</section> -->
