<!-- <section class="section sales-section">
  <div class="container sales-container">
    <h2 class="section-title sales-title">Sale</h2>

    <div class="sales-card">
      <ul class="sales-list">
        <li class="sales-item">
          <article>
            <picture class="sales-img-box foto-2">
              <source
                srcset="/src/img/sale/sale-t-w2@1x.webp 1x, /src/img/sale/sale-t-w2@2x.webp 2x"
                media="(min-width: 768px)" />
              <source
                srcset="/src/img/sale/sale-m-w2@1x.webp 1x, /src/img/sale/sale-m-w2@2x.webp 2x"
                media="(min-width: 320px)" />
              <img
                class="sales-img"
                src="/src/img/sale/sale-t-w2@1x.webp"
                alt="MARQ Commander view 2"
                width="96"
                height="100" />
            </picture>
          </article>
        </li>

        <li class="sales-item">
          <article>
            <picture class="sales-img-box foto-3">
              <source
                srcset="/src/img/sale/sale-t-w3@1x.webp 1x, /src/img/sale/sale-t-w3@2x.webp 2x"
                media="(min-width: 768px)" />
              <source
                srcset="/src/img/sale/sale-m-w3@1x.webp 1x, /src/img/sale/sale-m-w3@2x.webp 2x"
                media="(min-width: 320px)" />
              <img
                class="sales-img"
                src="/src/img/sale/sale-t-w3@1x.webp"
                alt="MARQ Commander view 3"
                width="96"
                height="100" />
            </picture>
          </article>
        </li>

        <li class="sales-item">
          <article>
            <picture class="sales-img-box foto-4">
              <source
                srcset="/src/img/sale/sale-t-w4@1x.webp 1x, /src/img/sale/sale-t-w4@2x.webp 2x"
                media="(min-width: 768px)" />
              <source
                srcset="/src/img/sale/sale-m-w4@1x.webp 1x, /src/img/sale/sale-m-w4@2x.webp 2x"
                media="(min-width: 320px)" />
              <img
                class="sales-img"
                src="/src/img/sale/sale-t-w4@1x.webp"
                alt="MARQ Commander view 4"
                width="96"
                height="100" />
            </picture>
          </article>
        </li>

        <li class="sales-item">
          <article>
            <picture class="sales-img-box foto-5">
              <source
                srcset="/src/img/sale/sale-t-w5@1x.webp 1x, /src/img/sale/sale-t-w5@2x.webp 2x"
                media="(min-width: 768px)" />
              <source
                srcset="/src/img/sale/sale-m-w5@1x.webp 1x, /src/img/sale/sale-m-w5@2x.webp 2x"
                media="(min-width: 320px)" />
              <img
                class="sales-img"
                src="/src/img/sale/sale-t-w5@1x.webp"
                alt="MARQ Commander view 5"
                width="96"
                height="100" />
            </picture>
          </article>
        </li>

        <li class="sales-item foto-1">
          <article>
            <picture class="sales-img-box foto-1">
              <source
                srcset="/src/img/sale/sale-t-w1@1x.webp 1x, /src/img/sale/sale-t-w1@2x.webp 2x"
                media="(min-width: 768px)" />
              <source
                srcset="/src/img/sale/sale-m-w1@1x.webp 1x, /src/img/sale/sale-m-w1@2x.webp 2x"
                media="(min-width: 320px)" />
              <img
                class="sales-img"
                src="/src/img/sale/sale-t-w1@1x.webp"
                alt="MARQ Commander Main View"
                width="328"
                height="398" />
            </picture>
          </article>
        </li>
      </ul>

      <div class="sales-info">
        <h3 class="sales-card-title">MARQ® Commander (Gen 2) — Carbon Edition</h3>
        <p class="sales-product-tag">Product tag: 706587</p>

        <div class="sales-price-box">
          <span class="sales-price-current">€1500</span>
          <span class="sales-price-old">€3000</span>
        </div>

        <p class="sales-product-description">
          The Garmin MARQ Commander Gen 2 Carbon Edition is a modern smartwatch for adventurers that
          takes materials and features to the next level. The body of the watch is made of very
          durable Fused Carbon Fiber material and has a precise AMOLED touch screen. The sensitive
          touch screen is complemented by buttons that can be used in any conditions.
        </p>

        <ul class="sales-features-list">
          <li class="sales-features-item">Fused carbon fiber</li>
          <li class="sales-features-item">Grade-5 Titanium</li>
          <li class="sales-features-item">Athlete</li>
          <li class="sales-features-item">Golfer</li>
          <li class="sales-features-item">Commander</li>
          <li class="sales-features-item">Adventurer</li>
        </ul>
      </div>
    </div>
  </div>
</section> -->
